*{
    margin: 0;
    padding: 0;
}

body{
background-color: #ffd95a;
display: flex;
justify-content: center;
align-items: center;
}


.logo{
    position: absolute;
    width: 367px;
    height: 159px;
    left: calc(50% - 367px/2 - 0.5px);
    top: calc(20% - 159px/2 - 0.5px);    
    }


.logins{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    width: 80%;
    padding-top: 4%;
    /* border: 5px solid gray; */
    background-color: #fff7d4;
    opacity: 80%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-bottom: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.80), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

}

.logins .container{
    margin-left: -20%;
}

.logins .judul h2{
    margin-top: -40%;
    margin-bottom: 5%;
    margin-right: -16%;
    color: #C07F00;
}

.container form{
    margin-top: -30%;
    margin-left: 40%;
}

.container .form label{
    color: #C07F00;
}

.container .form input{
    width: 100%;
    height: 50px;
    border-style: double;
    border-radius: 10px;
    border-color: #C07F00;
    text-align: center;
    color: #C07F00;
    background-color: transparent;

}

.container .form input .i1{
    margin-left: -10%;
}

.container .cekBox{
    float: left;
    color: gray;
    padding-top: 3%;
}

.container .forgot{
    float: right;
    padding-top: 3%;
}

.container .forgot a{
    text-decoration: none;
}

.container .tombol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13%;   
    background-color: #C07F00;
    width: 300px;
    height: 45px;
    border-radius: 30px;
    color: white;
    border-style: hidden;
    margin-top: 5%;

}


.container2 .form2{
    margin-top: 13%;
    margin-right: 18%;
    margin-left: -30%;
}

.container2 .form2 label{
    color: #c07f00;
}

.container2 .form2 input{
    width: 100%;
    height: 50px;
    border-style: double;
    border-radius: 10px;
    border-color: #C07F00;
    text-align: center;
    color: #C07F00;
    background-color: transparent;

}

.container2 .form2 input .i1{
    margin-left: -10%;
}


.container2 .tombol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5%;   
    background-color: #C07F00;
    width: 300px;
    height: 45px;
    border-radius: 30px;
    color: white;
    border-style: hidden;
    
}

a:link {
    text-decoration:none;
}

.container2 .bungkus{
    margin-top: 20%;
    margin-left: -80%;
}

.container2 .bungkus label{
    color: darkblue;
}

.container2 .bungkus .text{
    margin-top: 20%;
    margin-left: -100%;
}

